@import "../../theme.scss";
.confirmation {
  background-color: $whiteColor;
  padding: 2rem 1rem;
  color: black;
}

.confirmation-parent {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  h2,
  h5 {
    margin: 0;
  }
  border: 1px solid $blackColor;
  padding-bottom: 0.5rem;
}

.small-car {
  width: 8rem;
  height: 6rem;
}

.box2 {
  display: flex;
}

.image-box {
  flex: 0.6;
}

.explore-more {
  color: $whiteColor;
  background-color: $blackColor;
  flex: 0.4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.white-border-box {
  position: absolute;
  border: 1px solid $whiteColor;
  height: 25rem;
  width: 10rem;
}

.explore {
  position: relative;
  left: -3rem;
  top: 5rem;
}
