.card-description {
  display: flex;
  flex-direction: column;
  h6,
  p {
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 0.75rem;
  }
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.card {
  width: 17.375rem;
}

.card-description-arrow-alignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
}

.car-image {
  width: 17.375rem;
  height: 26.0625rem;
}
